* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1500px;
}

.container {
    height: 1000px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.card {
    min-height: 800px;
    width: 500px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0.2);
    border-radius: 30px;
    padding: 3% 3rem;
}

.sneaker {
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sneaker img {
    width: 20rem;
    z-index: 2;
}

.circle {
    width: 20rem;
    height: 20rem;
    background: linear-gradient(
        to right,
        rgba(37, 197, 32, 0.624),
        rgba(186, 164, 37, 0.5)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.info h1{
    font-size: 3rem;
}
.info h3 {
    font-size: 1.2rem;
    padding: 2rem 0rem;
    font-weight: lighter;
}

.sizes {
    display: flex;
    justify-content: space-between;
}

.sizes button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(26, 26, 26, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(48, 48, 48);
}

button.active{
    background: #505050;
    color: white;
}

.purchase{
    margin-top: 5rem;
}

.purchase button {
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem 0rem;
    background: #50a4dc;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
    color: white;
}