html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    background: black;
    z-index: -1;
}

.container {
    width: 600pt;
    height: 600pt;
    display: block;
    position: relative;
}

.circle-1,
.circle-2 {
    width: 240pt;
    height: 240pt;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.circle-1 {
    background: linear-gradient(30deg, #3E9DE8, #022c6f);
}

.circle-2 {
    background: linear-gradient(230deg, #EC9219, #ae0d0d);
    top: 60%;
    left: 60%;
}

.panel-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.login-panel {
    position: absolute;   
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 10pt;
    width: 300pt;
    height: 400pt;
}

form {
    display:  block;
    position: relative;
    justify-content: space-evenly;
    align-content: space-evenly;
    height: 80%;
    padding: 20pt;
}

.title {
    display: block;
    font-size: 30px;
    text-align: center;
    margin-top: 20pt;
    font-weight: 700;
}

label {
    color: white;
    font-weight: 500;
}

input,
button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 35pt;
    font-size: 12pt;
    border-radius: 3pt;
    border: none;
}

input {
    background: rgba(65, 65, 65, 0.6);
    color: white;
}

::placeholder {
    color: rgb(227, 227, 227);
    font-family: 'Raleway', sans-serif;
}

.user-input {
    margin-top: 30pt;
    box-sizing: border-box;
}

.user-input input {
    margin-top: 10pt;
}

button {
    font-family: 'Raleway', sans-serif;
    display: block;
    margin-top: 50pt;
    font-size: 15pt;
    font-weight: bold;
} 

.social-media-login{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 20pt;
}

.social-btn {
    width: 120pt;
    height: 30pt;
    background: rgba(163, 163, 163, 0.51);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 12pt;
    border-radius: 3pt;
    font-weight: 700;
}
